<% if @post.errors.any? %>
<div class="alert alert-dismissable alert-danger">
    <ul>
        <% @post.errors.full_messages.each do |m| %>
        <li><%= m %></li>
        <% end %>
    </ul>
</div>
</div>
<% end %>

<div class='col-lg-8 col-lg-offset-2 bsa well'>
<legend>Edit Post</legend>
<%= form_for @post, url: {action: "update_live", id: @post.id},html: {class: "form-horizontal", multipart: true} do |f| %>

<fieldset>
    <div class="form-group">
        <%= f.label :title,class: 'col-lg-2 control-label' %>
        <div class="col-lg-6">
                        <% groupoptions =
                                [
                                    [" ",
                                        [
                                        "Incident Day 1",
                                        "Incident Day 2",
                                        "Incident Day 3",
                                        "Incident Day 4",
                                        "Incident Day 5"
                                        ],
                                    ]
                                ]
                            %>

        <%= f.select :title,grouped_options_for_select(groupoptions), class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :content,class: 'col-lg-2 control-label' %>
        <div class="col-lg-6">
            <%= f.cktext_area :content, rows: 10, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :avatar,class: 'col-lg-2 control-label' %>
        <div class="col-lg-6">
            <%= f.file_field :avatar, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <%= f.submit "Edit", class: 'btn btn-primary col-lg-4 col-lg-offset-8' %>
                <br>
                <br>
                <br>
                <%= link_to "Delete Post", {action: 'destroy', id: @post.id}, {class: 'btn btn-danger col-lg-4 col-lg-offset-8'} %>
                <br>
                <br>
                <br>
                <%= link_to "Dashboard", {action: 'dashboard'}, {class: 'btn btn-success col-lg-4 col-lg-offset-8'} %>
            </div>
        </div>
        <% end %>
    </fieldset>
</div>
